spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/orderdb
    username: ${DB_USER}
    password: ${DB_PASSWORD}

  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.PostgreSQLDialect

server:
  port: 8083

management:
    endpoints:
      web:
        exposure:
          include: "*"


